mode                        client

cpu                         0
payload_size                64

duration                    60s


cc                          10
keepalive                   100ms

#port                       pci             addr         gateway
port                        0000:02:05.0    192.168.1.23   192.168.1.21

#                           addr_start      num
client                      192.168.1.23     1

#                           addr_start      num
server                      192.168.1.21      1

#                           port_start      num
listen                      7              1